In [32]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [33]:
# Set the random seed for reproducibility
# Note: This is used for model prototyping, but it is good practice to comment this out and run multiple experiments to evaluate your model.
from numpy.random import seed

seed(1)
from tensorflow import random

random.set_seed(2)

In [34]:
#Import TSLA closing prices
csv_path = Path("TSLA-RNN.csv")
tsla_df = pd.read_csv(csv_path, parse_dates=True, index_col='Date', infer_datetime_format=True)
tsla_df = tsla_df.sort_index()
tsla_df.head()

                     Close
Date
2010-06-29 00:00:00   4.78
2010-06-30 16:00:00   4.77
2010-07-01 16:00:00   4.39
2010-07-02 16:00:00   3.84
2010-07-06 16:00:00   3.22

In [35]:
# Length of database
len(tsla_df)

2587

In [36]:
#Change to Year, Month and day time format
tsla_df.index = pd.to_datetime(tsla_df.index).date
tsla_df.head()

            Close
2010-06-29   4.78
2010-06-30   4.77
2010-07-01   4.39
2010-07-02   3.84
2010-07-06   3.22

In [13]:
#Iloc dataframe to aling w/twitter df
tsla_df = tsla_df.iloc[-1360:]

In [14]:
#Confirm DF's length
len(tsla_df)

1360

In [13]:
#IMPORT Elon Muck's Tweets
url_2 = 'https://raw.githubusercontent.com/klleung72781/fintech_project_2/main/clean_twitter.csv'
twitter_df = pd.read_csv(url_2, parse_dates=True, index_col='Date', infer_datetime_format=True)
twitter_df = twitter_df.sort_index()

In [14]:
#Print DF
twitter_df.head()

            SENT
Date
2015-01-30  1.00
2015-02-08  0.25
2015-02-10  0.00
2015-02-11  0.50
2015-02-12  0.00

In [15]:
#Confirm Df's alignment
len(twitter_df)

1360

In [16]:
#Change Twitter DF to Year, Month and day time format
twitter_df.index = pd.to_datetime(twitter_df.index).date
twitter_df.head()

            SENT
2015-01-30  1.00
2015-02-08  0.25
2015-02-10  0.00
2015-02-11  0.50
2015-02-12  0.00

In [17]:
#Creating a function to replace values in the SENT with (0,1,-1)
def encode(x):
    if x >= -1 and x < -0.5:
        return -1
    elif x >= -0.5 and x < 0.5:
        return 0
    else:
        return 1
twitter_df.SENT = twitter_df.SENT.apply(
    lambda x: encode(x)
)

In [19]:
#Check Tweets scores are now 1, 0, -1
twitter_df.head()

            SENT
2015-01-30     1
2015-02-08     0
2015-02-10     0
2015-02-11     1
2015-02-12     0

In [20]:
#Import Google trend/search data
csv_path = Path("SEARCH.csv")
search_df = pd.read_csv(csv_path, parse_dates=True, index_col='Date', infer_datetime_format=True)
search_df = search_df.sort_index()
search_df.head()

            TSLA_SEARCH
Date
2010-07-01            7
2010-08-01            5
2010-09-01            5
2010-10-01            5
2010-11-01            5

In [21]:
#Check Tail
search_df.tail()

            TSLA_SEARCH
Date
2020-06-01           51
2020-07-01           71
2020-08-01           70
2020-09-01           85
2020-10-01           63

In [22]:
#Concat Prices w/Twitter Sentiment & Search DF's
combo_df = pd.concat([twitter_df, tsla_df, search_df], axis=1)
combo_df.sample(10)

            SENT  Close  TSLA_SEARCH
2015-05-18   NaN  49.75          NaN
2019-03-20   0.0  54.72          NaN
2018-11-14   1.0  68.80          NaN
2018-03-26   0.0  60.84          NaN
2016-04-08   1.0  50.01          NaN
2017-04-19   NaN  61.10          NaN
2016-06-30   0.0  42.46          NaN
2018-06-18   0.0  74.17          NaN
2018-08-08   0.0  74.07          NaN
2020-02-09   0.0    NaN          NaN

In [23]:
#Change to Year, Month and day time format
combo_df.index = pd.to_datetime(combo_df.index).date
combo_df.head()

            SENT  Close  TSLA_SEARCH
2015-01-30   1.0    NaN          NaN
2015-02-08   0.0    NaN          NaN
2015-02-10   0.0    NaN          NaN
2015-02-11   1.0    NaN          NaN
2015-02-12   0.0    NaN          NaN

In [24]:
#Dropna
combo_df.dropna(inplace=True)
combo_df.head()

            SENT  Close  TSLA_SEARCH
2015-06-01   1.0  49.89         19.0
2016-03-01   0.0  37.27         26.0
2016-04-01   1.0  47.52         54.0
2016-06-01   1.0  43.91         24.0
2016-08-01   1.0  46.00         22.0

In [25]:
#Check DF
combo_df.tail()

            SENT   Close  TSLA_SEARCH
2019-11-01   1.0   62.66        100.0
2020-04-01   1.0   96.31         37.0
2020-05-01   0.0  140.26         45.0
2020-06-01   0.0  179.62         51.0
2020-07-01   1.0  223.93         71.0

In [37]:
#THIS RUN IS ONLY TSLA CLOSING PRICES, TSLA_DF
def window_data(tsla_df, window, feature_col_number, target_col_number):
    """
    This function accepts the column number for the features (X) and the target (y).
    It chunks the data up with a rolling window of Xt - window to predict Xt.
    It returns two numpy arrays of X and y.
    """
    X = []
    y = []
    for i in range(len(tsla_df) - window):
        features = tsla_df.iloc[i : (i + window), feature_col_number]
        target = tsla_df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [38]:
# Creating the features (X) and target (y) data using the window_data() function. (THIS RUN IS TSLA CLOSING PRICES ONLY-TSLA_DF)
window_size = 5

feature_column = 0
target_column = 0
X, y = window_data(tsla_df, window_size, feature_column, target_column)
print (f"X sample values:\n{X[:5]} \n")
print (f"y sample values:\n{y[:5]}")

X sample values:
[[4.78 4.77 4.39 3.84 3.22]
 [4.77 4.39 3.84 3.22 3.16]
 [4.39 3.84 3.22 3.16 3.49]
 [3.84 3.22 3.16 3.49 3.48]
 [3.22 3.16 3.49 3.48 3.41]]

y sample values:
[[3.16]
 [3.49]
 [3.48]
 [3.41]
 [3.63]]

In [39]:
# Use 70% of the data for training and the remainder for testing
split = int(0.7 * len(X))
X_train = X[: split]
X_test = X[split:]
y_train = y[: split]
y_test = y[split:]

In [40]:
# Use the MinMaxScaler to scale data between 0 and 1.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
scaler.fit(y)
y_train = scaler.transform(y_train)
y_test = scaler.transform(y_test)

In [41]:
# Reshape the features for the model
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))
print (f"X_train sample values:\n{X_train[:5]} \n")
print (f"X_test sample values:\n{X_test[:5]}")

X_train sample values:
[[[0.00327167]
  [0.00325147]
  [0.00248405]
  [0.00137329]
  [0.00012117]]

 [[0.00325147]
  [0.00248405]
  [0.00137329]
  [0.00012117]
  [0.        ]]

 [[0.00248405]
  [0.00137329]
  [0.00012117]
  [0.        ]
  [0.00066645]]

 [[0.00137329]
  [0.00012117]
  [0.        ]
  [0.00066645]
  [0.00064626]]

 [[0.00012117]
  [0.        ]
  [0.00066645]
  [0.00064626]
  [0.00050489]]]

X_test sample values:
[[[0.13736974]
  [0.13716778]
  [0.13482511]
  [0.13278536]
  [0.13522902]]

 [[0.13716778]
  [0.13482511]
  [0.13278536]
  [0.13522902]
  [0.13232087]]

 [[0.13482511]
  [0.13278536]
  [0.13522902]
  [0.13232087]
  [0.14052024]]

 [[0.13278536]
  [0.13522902]
  [0.13232087]
  [0.14052024]
  [0.14013652]]

 [[0.13522902]
  [0.13232087]
  [0.14052024]
  [0.14013652]
  [0.14155021]]]

In [42]:
# Import required Keras modules
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [43]:
# Define the LSTM RNN model.
model = Sequential()

number_units = 5
dropout_fraction = 0.2

# Layer 1
model.add(LSTM(
    units=number_units,
    return_sequences=True,
    input_shape=(X_train.shape[1], 1))
    )
model.add(Dropout(dropout_fraction))

# Layer 2
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))

# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))

# Output layer
model.add(Dense(1))

In [44]:
# Compile the model
model.compile(optimizer="adam", loss="mean_squared_error")

In [45]:
# Summarize the model
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 5, 5)              140
_________________________________________________________________
dropout_3 (Dropout)          (None, 5, 5)              0
_________________________________________________________________
lstm_4 (LSTM)                (None, 5, 5)              220
_________________________________________________________________
dropout_4 (Dropout)          (None, 5, 5)              0
_________________________________________________________________
lstm_5 (LSTM)                (None, 5)                 220
_________________________________________________________________
dropout_5 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 6
=================================================================
Total params: 586
Trainable params: 586
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Train the model
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

Epoch 1/10
1807/1807 [==============================] - 7s 4ms/step - loss: 2.4634e-05
Epoch 2/10
1807/1807 [==============================] - 6s 3ms/step - loss: 1.3374e-04
Epoch 3/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.4802e-04
Epoch 4/10
1807/1807 [==============================] - 6s 3ms/step - loss: 1.5587e-04
Epoch 5/10
1807/1807 [==============================] - 6s 3ms/step - loss: 1.5894e-04
Epoch 6/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.5838e-04
Epoch 7/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.5826e-04
Epoch 8/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.5754e-04
Epoch 9/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.6029e-04
Epoch 10/10
1807/1807 [==============================] - 5s 3ms/step - loss: 1.5867e-04

In [47]:
# Evaluate the model
model.evaluate(X_test, y_test)

25/25 [==============================] - 0s 3ms/step - loss: 0.0362

0.036208122968673706

In [48]:
# Make some predictions
predicted = model.predict(X_test)

In [49]:
# Recover the original prices instead of the scaled version
predicted_prices = scaler.inverse_transform(predicted)
real_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

In [50]:
#Predicted Prices
predicted_prices

array([[70.27122 ],
       [70.27124 ],
       [70.271194],
       [70.271126],
       [70.27106 ],
       [70.270966],
       [70.27089 ],
       [70.27081 ],
       [70.27079 ],
       [70.27081 ],
       [70.27087 ],
       [70.27097 ],
       [70.2711  ],
       [70.271194],
       [70.27126 ],
       [70.27131 ],
       [70.27133 ],
       [70.27133 ],
       [70.27131 ],
       [70.27125 ],
       [70.27119 ],
       [70.27114 ],
       [70.27117 ],
       [70.27118 ],
       [70.27117 ],
       [70.27115 ],
       [70.27114 ],
       [70.27114 ],
       [70.27115 ],
       [70.27113 ],
       [70.27113 ],
       [70.271164],
       [70.27125 ],
       [70.27132 ],
       [70.2714  ],
       [70.27147 ],
       [70.27153 ],
       [70.27158 ],
       [70.27157 ],
       [70.27157 ],
       [70.27165 ],
       [70.27174 ],
       [70.27181 ],
       [70.271835],
       [70.27184 ],
       [70.27184 ],
       [70.27185 ],
       [70.27181 ],
       [70.27179 ],
       [70.27177 ],
       [70.27175 ],
       [70.271736],
       [70.271736],
       [70.27172 ],
       [70.27171 ],
       [70.271706],
       [70.27169 ],
       [70.27168 ],
       [70.271706],
       [70.27174 ],
       [70.271774],
       [70.271805],
       [70.27182 ],
       [70.27181 ],
       [70.27178 ],
       [70.27174 ],
       [70.27167 ],
       [70.27155 ],
       [70.27145 ],
       [70.271385],
       [70.271355],
       [70.27135 ],
       [70.27137 ],
       [70.27142 ],
       [70.271454],
       [70.27149 ],
       [70.27155 ],
       [70.27162 ],
       [70.271675],
       [70.271706],
       [70.2717  ],
       [70.271675],
       [70.271675],
       [70.271675],
       [70.27161 ],
       [70.27153 ],
       [70.27146 ],
       [70.271416],
       [70.2714  ],
       [70.27138 ],
       [70.27134 ],
       [70.27131 ],
       [70.27127 ],
       [70.27123 ],
       [70.2712  ],
       [70.2712  ],
       [70.271255],
       [70.27129 ],
       [70.271286],
       [70.27127 ],
       [70.27123 ],
       [70.27121 ],
       [70.271225],
       [70.27129 ],
       [70.27136 ],
       [70.27136 ],
       [70.27144 ],
       [70.27156 ],
       [70.271645],
       [70.27166 ],
       [70.27164 ],
       [70.27157 ],
       [70.2715  ],
       [70.27145 ],
       [70.27143 ],
       [70.27138 ],
       [70.27132 ],
       [70.271225],
       [70.27118 ],
       [70.271194],
       [70.271286],
       [70.27136 ],
       [70.27141 ],
       [70.27145 ],
       [70.27146 ],
       [70.27148 ],
       [70.27149 ],
       [70.27144 ],
       [70.27138 ],
       [70.27139 ],
       [70.27145 ],
       [70.271515],
       [70.27159 ],
       [70.27167 ],
       [70.2717  ],
       [70.27173 ],
       [70.271774],
       [70.27181 ],
       [70.27193 ],
       [70.272125],
       [70.27228 ],
       [70.272415],
       [70.272446],
       [70.272354],
       [70.27217 ],
       [70.27202 ],
       [70.27197 ],
       [70.271935],
       [70.27191 ],
       [70.27193 ],
       [70.27193 ],
       [70.27195 ],
       [70.27199 ],
       [70.272   ],
       [70.27199 ],
       [70.27199 ],
       [70.27203 ],
       [70.27207 ],
       [70.272125],
       [70.27214 ],
       [70.2721  ],
       [70.27205 ],
       [70.271996],
       [70.27194 ],
       [70.27197 ],
       [70.272   ],
       [70.27198 ],
       [70.271935],
       [70.27188 ],
       [70.27185 ],
       [70.27185 ],
       [70.2719  ],
       [70.27198 ],
       [70.27204 ],
       [70.27209 ],
       [70.27211 ],
       [70.27212 ],
       [70.272156],
       [70.27219 ],
       [70.27221 ],
       [70.27221 ],
       [70.272194],
       [70.27213 ],
       [70.2721  ],
       [70.27207 ],
       [70.27203 ],
       [70.27202 ],
       [70.27191 ],
       [70.271805],
       [70.27172 ],
       [70.27162 ],
       [70.27151 ],
       [70.2714  ],
       [70.27128 ],
       [70.27118 ],
       [70.27108 ],
       [70.271065],
       [70.27106 ],
       [70.27111 ],
       [70.27122 ],
       [70.271324],
       [70.27136 ],
       [70.271355],
       [70.2713  ],
       [70.27128 ],
       [70.27131 ],
       [70.27144 ],
       [70.27159 ],
       [70.271706],
       [70.27173 ],
       [70.27169 ],
       [70.27165 ],
       [70.271645],
       [70.271645],
       [70.271675],
       [70.27167 ],
       [70.27164 ],
       [70.271614],
       [70.27163 ],
       [70.271706],
       [70.271805],
       [70.271835],
       [70.271835],
       [70.27186 ],
       [70.27191 ],
       [70.27195 ],
       [70.27195 ],
       [70.27176 ],
       [70.27152 ],
       [70.27136 ],
       [70.27117 ],
       [70.271034],
       [70.27102 ],
       [70.27106 ],
       [70.271095],
       [70.27115 ],
       [70.27122 ],
       [70.2713  ],
       [70.27147 ],
       [70.27162 ],
       [70.27168 ],
       [70.27167 ],
       [70.27164 ],
       [70.271614],
       [70.27161 ],
       [70.271645],
       [70.27171 ],
       [70.27178 ],
       [70.271835],
       [70.27191 ],
       [70.27201 ],
       [70.272095],
       [70.27221 ],
       [70.27223 ],
       [70.272224],
       [70.27216 ],
       [70.2721  ],
       [70.27205 ],
       [70.27202 ],
       [70.272026],
       [70.27201 ],
       [70.27198 ],
       [70.27195 ],
       [70.27193 ],
       [70.27191 ],
       [70.271866],
       [70.27183 ],
       [70.271965],
       [70.27199 ],
       [70.27196 ],
       [70.27195 ],
       [70.271996],
       [70.27213 ],
       [70.27232 ],
       [70.27243 ],
       [70.272484],
       [70.272514],
       [70.272514],
       [70.2725  ],
       [70.27243 ],
       [70.272354],
       [70.27234 ],
       [70.27238 ],
       [70.272415],
       [70.27232 ],
       [70.27221 ],
       [70.272026],
       [70.271805],
       [70.271614],
       [70.271515],
       [70.271454],
       [70.27139 ],
       [70.27134 ],
       [70.27131 ],
       [70.27131 ],
       [70.27129 ],
       [70.271255],
       [70.271225],
       [70.27128 ],
       [70.27133 ],
       [70.27135 ],
       [70.27132 ],
       [70.27125 ],
       [70.271194],
       [70.27119 ],
       [70.27124 ],
       [70.27135 ],
       [70.27137 ],
       [70.271355],
       [70.27131 ],
       [70.27129 ],
       [70.27126 ],
       [70.27121 ],
       [70.27115 ],
       [70.271095],
       [70.27107 ],
       [70.27105 ],
       [70.27102 ],
       [70.270996],
       [70.27094 ],
       [70.27093 ],
       [70.271   ],
       [70.27114 ],
       [70.271286],
       [70.27145 ],
       [70.27155 ],
       [70.2717  ],
       [70.27172 ],
       [70.2717  ],
       [70.271614],
       [70.27154 ],
       [70.27156 ],
       [70.271675],
       [70.27173 ],
       [70.27166 ],
       [70.27156 ],
       [70.271454],
       [70.27137 ],
       [70.27132 ],
       [70.271324],
       [70.271324],
       [70.27131 ],
       [70.271286],
       [70.27142 ],
       [70.27162 ],
       [70.27183 ],
       [70.271965],
       [70.272   ],
       [70.27199 ],
       [70.271965],
       [70.27191 ],
       [70.27186 ],
       [70.27181 ],
       [70.27177 ],
       [70.27171 ],
       [70.271675],
       [70.2717  ],
       [70.27174 ],
       [70.27177 ],
       [70.27177 ],
       [70.27177 ],
       [70.27179 ],
       [70.271805],
       [70.27181 ],
       [70.27183 ],
       [70.27189 ],
       [70.27194 ],
       [70.27196 ],
       [70.27196 ],
       [70.27188 ],
       [70.27178 ],
       [70.27179 ],
       [70.27189 ],
       [70.27203 ],
       [70.27215 ],
       [70.27221 ],
       [70.2722  ],
       [70.27215 ],
       [70.27212 ],
       [70.272095],
       [70.27207 ],
       [70.27211 ],
       [70.272194],
       [70.27226 ],
       [70.2723  ],
       [70.2723  ],
       [70.272316],
       [70.27236 ],
       [70.272385],
       [70.27236 ],
       [70.2723  ],
       [70.27225 ],
       [70.27218 ],
       [70.27213 ],
       [70.27209 ],
       [70.27214 ],
       [70.2722  ],
       [70.272255],
       [70.27228 ],
       [70.27227 ],
       [70.272285],
       [70.27231 ],
       [70.27234 ],
       [70.27234 ],
       [70.27232 ],
       [70.2723  ],
       [70.27232 ],
       [70.27236 ],
       [70.272415],
       [70.272484],
       [70.272606],
       [70.27269 ],
       [70.27273 ],
       [70.272766],
       [70.27276 ],
       [70.2727  ],
       [70.27262 ],
       [70.2726  ],
       [70.27261 ],
       [70.27266 ],
       [70.272705],
       [70.27277 ],
       [70.27283 ],
       [70.27285 ],
       [70.27287 ],
       [70.27295 ],
       [70.273056],
       [70.273155],
       [70.27325 ],
       [70.273315],
       [70.27337 ],
       [70.27341 ],
       [70.27343 ],
       [70.273445],
       [70.27347 ],
       [70.273506],
       [70.2735  ],
       [70.273445],
       [70.27337 ],
       [70.27329 ],
       [70.273224],
       [70.273155],
       [70.27314 ],
       [70.273125],
       [70.27312 ],
       [70.27307 ],
       [70.27302 ],
       [70.27297 ],
       [70.27297 ],
       [70.27298 ],
       [70.27299 ],
       [70.272995],
       [70.27301 ],
       [70.27301 ],
       [70.272995],
       [70.27297 ],
       [70.27296 ],
       [70.27292 ],
       [70.27288 ],
       [70.272865],
       [70.272865],
       [70.27284 ],
       [70.27281 ],
       [70.27276 ],
       [70.27269 ],
       [70.27263 ],
       [70.27258 ],
       [70.27256 ],
       [70.27254 ],
       [70.27252 ],
       [70.2725  ],
       [70.27248 ],
       [70.27256 ],
       [70.272705],
       [70.2728  ],
       [70.272804],
       [70.27277 ],
       [70.272766],
       [70.27278 ],
       [70.27283 ],
       [70.27286 ],
       [70.272865],
       [70.272835],
       [70.27282 ],
       [70.27283 ],
       [70.272835],
       [70.27289 ],
       [70.27296 ],
       [70.27301 ],
       [70.273   ],
       [70.27298 ],
       [70.27297 ],
       [70.27298 ],
       [70.273026],
       [70.27307 ],
       [70.273094],
       [70.2731  ],
       [70.27307 ],
       [70.273026],
       [70.27299 ],
       [70.27298 ],
       [70.27296 ],
       [70.272934],
       [70.27291 ],
       [70.27287 ],
       [70.2728  ],
       [70.27273 ],
       [70.27269 ],
       [70.27268 ],
       [70.27268 ],
       [70.27269 ],
       [70.27268 ],
       [70.27269 ],
       [70.27271 ],
       [70.27278 ],
       [70.27285 ],
       [70.27284 ],
       [70.2728  ],
       [70.27275 ],
       [70.27271 ],
       [70.272705],
       [70.272736],
       [70.27278 ],
       [70.272804],
       [70.2728  ],
       [70.27275 ],
       [70.27271 ],
       [70.27268 ],
       [70.27263 ],
       [70.27257 ],
       [70.272514],
       [70.272484],
       [70.27248 ],
       [70.27249 ],
       [70.272514],
       [70.27253 ],
       [70.27238 ],
       [70.27207 ],
       [70.2718  ],
       [70.27165 ],
       [70.27163 ],
       [70.27166 ],
       [70.27169 ],
       [70.2717  ],
       [70.27168 ],
       [70.27164 ],
       [70.27156 ],
       [70.27148 ],
       [70.27139 ],
       [70.27132 ],
       [70.27127 ],
       [70.27124 ],
       [70.27122 ],
       [70.2712  ],
       [70.271164],
       [70.27115 ],
       [70.27114 ],
       [70.27122 ],
       [70.27131 ],
       [70.271385],
       [70.27144 ],
       [70.27147 ],
       [70.27146 ],
       [70.27144 ],
       [70.27143 ],
       [70.27144 ],
       [70.27144 ],
       [70.271416],
       [70.271355],
       [70.27128 ],
       [70.27119 ],
       [70.27113 ],
       [70.27102 ],
       [70.27091 ],
       [70.27079 ],
       [70.27065 ],
       [70.27054 ],
       [70.270424],
       [70.2703  ],
       [70.2702  ],
       [70.27013 ],
       [70.27014 ],
       [70.270195],
       [70.27019 ],
       [70.2701  ],
       [70.26998 ],
       [70.2698  ],
       [70.26958 ],
       [70.26943 ],
       [70.26937 ],
       [70.2692  ],
       [70.26896 ],
       [70.26882 ],
       [70.2688  ],
       [70.268845],
       [70.26877 ],
       [70.268555],
       [70.268326],
       [70.268196],
       [70.26818 ],
       [70.26818 ],
       [70.26813 ],
       [70.26784 ],
       [70.26747 ],
       [70.26673 ],
       [70.26562 ],
       [70.265175],
       [70.26517 ],
       [70.26533 ],
       [70.26543 ],
       [70.26539 ],
       [70.265305],
       [70.26515 ],
       [70.26501 ],
       [70.2647  ],
       [70.26418 ],
       [70.26376 ],
       [70.26352 ],
       [70.26366 ],
       [70.26407 ],
       [70.264534],
       [70.265236],
       [70.265915],
       [70.2661  ],
       [70.266   ],
       [70.2658  ],
       [70.26573 ],
       [70.26585 ],
       [70.266365],
       [70.26678 ],
       [70.26704 ],
       [70.267426],
       [70.26783 ],
       [70.26852 ],
       [70.269226],
       [70.26997 ],
       [70.270294],
       [70.27033 ],
       [70.27022 ],
       [70.26985 ],
       [70.26935 ],
       [70.268974],
       [70.268814],
       [70.268845],
       [70.26887 ],
       [70.269   ],
       [70.26924 ],
       [70.26939 ],
       [70.2693  ],
       [70.26903 ],
       [70.26872 ],
       [70.26844 ],
       [70.26796 ],
       [70.26729 ],
       [70.26664 ],
       [70.26611 ],
       [70.26577 ],
       [70.26563 ],
       [70.2658  ],
       [70.26591 ],
       [70.266014],
       [70.26602 ],
       [70.265724],
       [70.26546 ],
       [70.2652  ],
       [70.26507 ],
       [70.265335],
       [70.26551 ],
       [70.26551 ],
       [70.26539 ],
       [70.26525 ],
       [70.265015],
       [70.26485 ],
       [70.26474 ],
       [70.26477 ],
       [70.2648  ],
       [70.26484 ],
       [70.2648  ],
       [70.264755],
       [70.2647  ],
       [70.264626],
       [70.26458 ],
       [70.26457 ],
       [70.264565],
       [70.26462 ],
       [70.26457 ],
       [70.26427 ],
       [70.26397 ],
       [70.26377 ],
       [70.26374 ],
       [70.26373 ],
       [70.26349 ],
       [70.2632  ],
       [70.26269 ],
       [70.26239 ],
       [70.262436],
       [70.26242 ],
       [70.26238 ],
       [70.26231 ],
       [70.26217 ],
       [70.26207 ],
       [70.26205 ],
       [70.26203 ],
       [70.26217 ],
       [70.262245],
       [70.26236 ],
       [70.26228 ],
       [70.261894],
       [70.26131 ],
       [70.260506],
       [70.25925 ],
       [70.258064],
       [70.25731 ],
       [70.25686 ],
       [70.25614 ],
       [70.25562 ],
       [70.25521 ],
       [70.254875],
       [70.25481 ],
       [70.254906],
       [70.25451 ],
       [70.254234],
       [70.254036],
       [70.254166],
       [70.25477 ],
       [70.25503 ],
       [70.25519 ],
       [70.25521 ],
       [70.2552  ],
       [70.255394],
       [70.255486],
       [70.25545 ],
       [70.255394],
       [70.25531 ],
       [70.25538 ],
       [70.25564 ],
       [70.25605 ],
       [70.255806],
       [70.25508 ],
       [70.25423 ],
       [70.252975],
       [70.2517  ],
       [70.25083 ],
       [70.24993 ],
       [70.24909 ],
       [70.24861 ],
       [70.248344],
       [70.24783 ],
       [70.24709 ],
       [70.246475],
       [70.24527 ],
       [70.24444 ],
       [70.24443 ],
       [70.24539 ],
       [70.24635 ],
       [70.2485  ],
       [70.24994 ],
       [70.25055 ],
       [70.25064 ],
       [70.24981 ],
       [70.248245],
       [70.247055],
       [70.24658 ],
       [70.246284],
       [70.246056],
       [70.24623 ],
       [70.24717 ],
       [70.24812 ],
       [70.24854 ],
       [70.248344],
       [70.24792 ],
       [70.24738 ],
       [70.246735],
       [70.246704],
       [70.24679 ]], dtype=float32)

In [51]:
# Create a DataFrame of Real and Predicted values (TSLA Closing PRICES ONLY)
stocks = pd.DataFrame({
    "Real": real_prices.ravel(),
    "Predicted": predicted_prices.ravel()
    }, index = tsla_df.index[-len(real_prices): ])
stocks.head()

             Real  Predicted
2017-09-08  68.68  70.271217
2017-09-11  72.74  70.271240
2017-09-12  72.55  70.271194
2017-09-13  73.25  70.271126
2017-09-14  75.53  70.271057

In [53]:
# Plot the real vs predicted prices as a line chart
stocks.plot(figsize=(20,10))